* {
  margin: 0;
  padding: 0;
}

body {
  background: url("/static/assets/main.jpeg") no-repeat fixed;
  background-size: cover;
}

section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  height: 100%;
  margin-top: 30px;
}

.main {
  width: 100%;
  display: flex;
  height: 100%;
  background: transparent;
  backdrop-filter: blur(30px);
  border-radius: 10px;
  border: 1px solid black;
}

p {
  margin-top: 0;
  margin-bottom: 0;
  margin: 20px;
}

h1 {
  font-size: 2.5rem;
  text-align: left;
  place-self: center;
  color: antiquewhite;
  text-shadow: -2px 3px 3px black;
}

hr {
  margin: 0px 5px 20px 5px;
  color: inherit;
  border: 0;
  border-top: 2px solid;
  opacity: 0.50;
}

.info-sec {
  height: 100%;
  width: 100%;
}

.inside-title {
  height: 20%;
}

.inside-main-sec {
  width: 80%;
}

.about {
    width: 20%;
    display: grid;
    justify-content: center;
    align-items: center;
}

.about, .inside-main-sec {
  margin: 15px;
  padding: 10px;
  background-color: gray;
  border: 1px solid black;
  border-radius: 10px;
}

.profile-picture {
  background: transparent;
  align-items: center;
  background-color: antiquewhite;
  background-position: center;
  background-size: cover;
  border-radius: 100%;
  width: 150px;
  height: 150px;
  justify-self: center;
  box-shadow: -5px 5px 5px 0px rgba(0, 0, 0, 0.2);
}

.cube {
  background: transparent;
  align-items: center;
  height: 80%;
}

.cube {
  border-radius: 20px;
  border: 1px solid lightgrey;
  backdrop-filter: blur(4px);
  justify-content: center;
  background-color: skyblue;
  display: flex;
}