{% extends 'flatpages/default.html' %}
{% load static %}
{% load custom_filters %}

{% block title %}
Объявление
{% endblock title %}

{% block content %}
<link rel="stylesheet" type='text/css' href="{% static 'css/advertisement-style.css' %}">

<h1>Одно из объявлений</h1>
<hr>

<div class="cube">
    <div class="main-info-block">
        <h3>{{ advertisement.title }}</h3>
        <hr>
        <div class="content">
            <label>{{ advertisement.description }}</label>
        </div>
        <h3>Отзывы</h3>
        <hr>
        {% for reply in replies %}
            {% if reply.adopted == True %}
                <div class="reply-block">
                    <h5>{{ reply.author }}</h5>
                    <hr>
                    <p class="reply-label">{{ reply.description }}</p>
                </div>
            {% endif %}
        {% empty %}
            <h2>Отзывов пока что нет. Стань первым!</h2>
        {% endfor %}
    </div>
    <div class="post-info">
        <div class="info-block">
            <label>Автор: {{ advertisement.author }}</label>
        </div>
        <div class="info-block">
            <label>Тема: {{ advertisement.get_category_display }}</label>
        </div>
        <div class="info-block">
            <label>Дата публикации: {{ advertisement.datetime_in|date:'d.m.Y' }}</label>
        </div>
        {% if request.user != advertisement.author  %}
            <a class="button-click" href="/advertisements/{{ advertisement.id }}/reply/">
                <input class="responce-button" type="submit" value="Оставить отзыв">
            </a>
        {% endif %}
        
    </div>
</div>
{% endblock content %}