{% extends 'flatpages/default.html' %}
{% load static %}

{% block title %}
    Home page
{% endblock title %}

{% block content %}
<link rel="stylesheet" type='text/css' href="{% static 'css/advertisement-style.css' %}">

<style>
    body {
      background: url("/static/assets/main.jpeg") no-repeat fixed;
      background-size: cover;
    }
</style>

<div class="title-cube">
    <h1>Добро пожаловать на MMO портал!</h1>
</div>

<div class="cube">
    <div class="main-info-block">
        <h1>Общедоступные страницы</h1>
        <hr>
        <ol>
            <li>Advertisements - страница всех объявлений</li>
            <li>Random advertisement - случайный пост</li>
            <li>Admin - переход в панель администратора</li>
        </ol>
    </div>
</div>

<div class="cube">
    <div class="main-info-block">
        <h1>Для авторизированных пользователей</h1>
        <hr>
        <ol>
            <li>Advertisement manager - менеджер объявлений</li>
                <ul>
                    Own publications - собственные публикации
                </ul>
                <ul>
                    Create - создание публикации
                </ul>
            <li>Prodile - страница профиля</li>
            <li>Возможность оставлять отклики</li>
            <li>Обрабатывать отклики под своими постами (переход в данный раздел осуществляется на странице Own publications)</li>
        </ol>
    </div>
</div>
{% endblock content %}