{% extends 'flatpages/default.html' %}
{% load static %}


{% block title %}
Мои объявления
{% endblock title %}

{% block content %}
<link rel="stylesheet" type='text/css' href="{% static 'css/advertisement-style.css' %}">

<h1>Ваши объявления</h1>
<hr>


{% if own_advertisements %}
{% for i in own_advertisements %}
<div class="cube">
    <div class="main-info-block">
        <h3>{{ i.title }}</h3>
        <hr>
        <div class="content">
            <label>{{ i.description }}</label>
        </div>
    </div>
    <div class="post-info">
        <div class="info-block">
            <label>Автор:&nbsp{{ i.author }}</label>
        </div>
        <div class="info-block">
            <label>Тема:&nbsp{{ i.get_category_display }}</label>
        </div>
        <div class="info-block">
            <label>Дата публикации:&nbsp{{ i.datetime_in|date:'d.m.Y' }}</label>
        </div>


        


        <a class="button-click" href="/advertisements/{{ i.id }}/edit/">
            <input class="button-alter" type="submit" value="Редактировать">
        </a>
    </div>
</div>
{% endfor %}





{% else %}
	<h2>У вас пока нет объявлений</h2>
{% endif %}

{% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}
   {{ page_obj.number }}
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}